{% extends "layout.html"%}

{% block content %}

<div class="col-xs-6">
    {%from "_macros.html" import render_firld %}
    <form action="" method="post" novalidate>
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
    <div class="from-group">
        {{render_firld(form.matricula)}}
    </div>
    {{render_firld(form.nombre)}}
    {{render_firld(form.apaterno)}}
    {{render_firld(form.amaterno)}}
    {{render_firld(form.email)}}
    <input type="submit" value="Registrar">
</form>
</div>
<div class="col-xs-6">
    <h3>Matricula:{{mat}}</h3>
    <h3>Nombre:{{nom}}</h3>
</div>

{%endblock%}